// header
.header
	line-height 88px;
	text-align center;
	box-shadow 0 2px 12px #ccc;
	backface-visibility: hidden;
	z-index 99
	background-color #fff
	h1
		padding 0
		margin 0
		font-size primary-font-size
		color color-header
	.back
		position absolute
		top 19px
		left 15px
		width 46px
		color color-header

// home
.banner
	padding 15px
	color #fff
	text-align center
	background-color banner-bg
	background-image banner-img
	.tit
		font-size 56px
	.tit-sub
		font-size primary-font-size
		opacity 0.7
	.tit-desc
		font-size normal-font-size
		opacity 0.8
	.banner-btn-wrapper
		display flex
		align-items center
		justify-content center
		padding: gap-sm
	.banner-btn
		font-size normal-font-size
		color #fff
		border 1px solid #fefefe
		width 200px
		height 70px

.switch-theme
	background-color #fff
	margin gap-lg 0
	.content
		padding: 0 gap-md
		height 200px
		display flex
		align-items center
		justify-content space-around
		font-size: normal-font-size
		button
			width 150px
			height 60px
			color #fff
		&.violet
			button
				background-color #a948da

.main
	padding 30px 20px
	.btn-wrapper
		padding 50px 0
	.tips
		font-size normal-font-size