/* global */
lg-font-size   = 42px
primary-font-size = 32px
normal-font-size  = 28px
sm-font-size    = 24px

primary-color-bg = #f4f4f4

font-weight-normal = 400
font-weight-medium = 500
font-weight-bold   = 600

// gap size
gap-sm = 12px
gap-md = 20px
gap-lg = 32px

font-family-normal = -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif

// color
color-header = #007bff;

// border

/* home */

// banner
banner-bg = #5FC3E4
banner-img = linear-gradient(120deg, #dac248, #37a5ca)
